@import "variables/colors";
@import "mixins/mixins";

body {
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: $lightpurple;
}

.btn {
    @include button;
    color: white;
    background: $purple;
    border: none;
}

.btn--border {
    @include button;
    color: $purple;
    border: 2px solid $lighterpurple;
    &:hover {
        @include button;
        border: 2px solid $purple;
        color: white;
        background: $purple;  
    }
}

.boldpurple {
    color: $purple;
    font-weight: bold;
}

.boldwhite {
    color: white;
    font-weight: bold;
}

.bg {
    background: $darkerpurple;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    margin: 0 10%;
}

.list {
    display: flex;
    list-style-type: none;
}

.list__item {
    padding-left: 40px;
}

.container {
    display: flex;
    margin: 0 10%;
}

.container__heading {
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container__image {
    display: flex;
    align-items: self-end;
    justify-content: flex-end;
    margin-left: -400px;
    margin-top: -50px;
}

.image {
    width: 70%;
    margin-right: 4%;
    margin-bottom: -70px;
}

// .items {
//     margin: 10px 0;
// }

.items--title {
    font-size: 4.4vw;
    font-weight: 100;
    margin: 0;
}

.items--subtitle {
    line-height: 32px;
    width: 84%;
    margin: 0;
}

.items--btn {
    font-weight: normal;
    font-size: 14px;
    max-width: fit-content;
    margin: 0;
}

// section 1

.container--space {
    padding: 160px 0 60px;
    flex-direction: column;
    align-items: center;
}

.item-heading {
    font-size: 34px;
    font-weight: 100;
    margin: 0;
}

.item-dash {
    border: 1px solid $purple;
    width: 5%;
    margin-top: 40px;
}

.item-text {
    width: 50%;
    text-align: center;
    line-height: 32px;
    margin: 40px;
}

//section 2

.card {
    display: flex;
    align-items: center;
}

.card--vertical {
    flex-direction: column;
}

.card__number {
    background-image: linear-gradient(to bottom, $lighterpurple, white);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 100px;
    margin: 0;
    font-weight: 600;
    margin-bottom: -54px;
}

.card__heading {
    color: $purple;
}

.icon {
    width: 100px;
}

.card__dash {
    border: 1px solid $lightpurple;
    width: 5%;
}

.card__text {
    text-align: center;
    line-height: 32px;
    width: 70%;
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.btn--single {
    font-weight: normal;
    font-size: 14px;
    max-width: fit-content;
    margin: 20px;
}


//section 3

.slide {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.slide__quote {
    width: 40%;
}

.slide__color {
    display: flex;
    width: 600px;
    height: 600px;
    background: $purple;
}

.quote {
    
}

.quote__itself {
    width: 80%;
    margin-left: -100px;
    margin-top: -100px;
}

.element {
    display: flex;
}

.element--arrows {
    flex-direction: column;
    width: 20%;
    margin-left: 100px;
}

.arrows {
    display: flex;
    margin: 30px 0;
}
.arrow__left {
    transform: scaleX(-1);
    width: 20px;
    height: 20px;
}
.arrow__right {
    width: 20px;
    height: 20px;
    padding: 0 10px;
}



.card--horizontal{
    width: 25%;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0px 21px 102px 0px rgba(221,221,225,1);
    margin: 0 20px;
    background: red;
}

.circle {
    margin: 10px;
    width: 40px;
}

.containerrr {
    display: flex;
    flex-direction: column;
}
.texto {
    margin: 10px;
    line-height: 32px;
}

.containerrr__text {
    margin: 0;
}

.slide__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//second card section

.bg-lighter {
    background: $lighterpurple;
    width: 100%;
}
.bg-light {
    background: $lightpurple;
    width: 100%;
}
.bg-medium {
    background: $mediumpurple;
    width: 100%;
}
.bg-purple {
    background: $purple;
    width: 100%;
}
.heading {    
    justify-content: center;
    display: flex;
}
//footer

.footer {
    display: flex;
    flex-direction: column;
    background: $darkerpurple;
}
.top {
    display: flex;
}

.bottom {

}

.top__left {
    margin: 0;
    width: 50%;
}
.frontmac {
    width: 100%;
    margin-top: -50px;
}

.top__right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}